#global
.DS_Store

# ai
ai/.vscode

# scraper
scraper/token.pickle
scraper/.vscode
scraper/.env
scraper/client_secrets.json
scraper/*.txt
scraper/venv
scraper/__pycache__

# webserver
webserver/.vscode
webserver/vendor