#global
.DS_Store
__pycache__
.pyc

# ai
ai/.vscode

# scraper
scraper/token.pickle
scraper/.vscode
scraper/.env
scraper/client_secrets.json
scraper/*.txt
scraper/venv

# webserver
webserver/.vscode
webserver/vendor