<div class = "header">
  <div class = "header_left">
    <div class = "logo">TIMEFRAME</div> <!-- we can change this to an image later -->
  </div>

  <div class = "header_right">
    <div class = "settings_icon"></div>
    <div class = "sign_log"></div> <!-- make this element dynamic -->
  
</div>
