<!DOCTYPE HTML>
<html>
  <head>
    <title><%= title %></title> 
    <link rel="stylesheet" href="mystyle.css"/>
  </head>
  <body>

    <div>
      <!-- TOP BAR -->
    </div>

    <div>
      <!-- INNER HIGHLIGHT TABLE -->
    </div>

    <div>
      <!-- BOTTOM BAR -->
    </div>
  </body>
</html>
