<%= erb :header %>

<div class="mainwindow">
    <div class="left-half">
        <div class="left">
            <h1>Feed</h1>
            <div class="heavy-hr"></div>
            <div class="container">
                <!-- TODO -->
            </div>
        </div>
    </div> 
    <div class="heavy-vr"> </div>
    <div class="right-half">
        <div class="right">
            <h1>Highlights</h1>
            <div class="heavy-hr"></div>
            <div class="container">
                <!-- TODO --> 
            </div>
        </div>
    </div>
</div>

<!-- <%= erb :footer %> -->